@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 99%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    
}
.calculator{
    border: 2px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113 ,115, 119, 0.5);
}
input{
    width: 320px;
    border: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84 ,84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
}
input::placeholder{
    color: #ffffff;
}
button{
    border: none;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(225 ,225 , 225 , 0.2);
    cursor: pointer;
}
.equalBtn{
    background: #fb7c14;
}
.opperator{
    color: #6bee0a;
}


@media screen and (max-width: 400px) {
    body {
      background-color: lightgreen;
    }
  }